#content-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    width: 100%;
}

#content-wrapper .image-wrapper {
    width: 100%;
    margin: 0.5rem 0;
    padding: 0 1rem;
    position: relative;
    cursor: pointer;
}

.image-wrapper > img {
    width: 100%;
    height: 128px;
    border-radius: 15px;
    background-color: rgb(252, 251, 252);
}

.image-wrapper > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(252, 251, 252);
    font-size: 2rem;
}

/* 지역 버튼 */
#region-btn-group {
    position: sticky;
    z-index: 1000;
    top: 59px;

    background-color: white;
    width: 100%;
    overflow: scroll;
}

/* 지역 버튼 색깔 커스텀 */
.btn-outline-primary {
    border-color: #9DCDBF;
    color: #9DCDBF;
}

.btn-outline-primary:active {
    background-color: #9DCDBF !important;
    border-color: #9DCDBF !important;
}

.btn-outline-primary:hover {
    background-color: #9DCDBF;
    border-color: #9DCDBF;
}

.btn-outline-primary:focus {
    background-color: #9DCDBF !important;
    border-color: #9DCDBF !important;
}

.btn-check:checked+.btn-outline-primary {
    background-color: #9DCDBF;
    border-color: #9DCDBF; 
    box-shadow: 0 0 0 2px rgba(157,205,191, .5)
}